# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyInstaller build artifacts
build/
dist/
*.spec

# SpaCy model data (if you don't want to include it in the repo)
spacy/data/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# System files
.DS_Store
Thumbs.db

# Virtual environment
venv/
.env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Other files to ignore
app.py
cleaned_user_comments.xlsx
spacy_test.py
PII_Test_File_cleaned.xlsx
huggingFaceTest.py
